<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>First Node Project</title>
    <%- include("partials/head") %>
  </head>
  <body>
    <!-- HEADER -->
    <%- include("partials/navigation") %>

    <!-- MAIN CONTENT -->

    <header
      class="container vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img
          src="/img/fazt.png"
          class="w-25 m-auto animated bounceIn"
          alt="Website Logo"
        />
        <h1 class="display-1 my-5 text-uppercase fw-bold">Fazt</h1>
        <a href="/about" class="btn btn-primary w-25">About Us</a>
      </div>
    </header>

    <!-- section one -->
    <div class="container-fluid" id="about">
      <div class="row bg-dark text-white p-5 text-center">
        <div class="col-md-4 offset-md-4">
          <h3>Lorem, ipsum dolor.</h3>
          <p>
            Elit exercitationem id illo sit distinctio. Deserunt ut debitis
            voluptates mollitia dignissimos eligendi vel quidem itaque dolores
            ratione ut. Soluta accusantium dolor nemo suscipit rerum. Aliquid
            quasi excepturi provident eos.
          </p>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <%- include("partials/footer") %>

    <!-- JAVASCRIPT CDNS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
