<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container p-2">
    <a class="navbar-brand" href="/"><%= title %></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/">
            <span class="material-icons me-1">home</span>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/about">
            <span class="material-icons me-1">info</span>
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/contact">
            <span class="material-icons me-1">email</span>
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
